:root {
    --color-primario: #007bff;
    --color-secundario: #ffc107;
    --color-peligro: #dc3545;
    --color-info: #17a2b8;

    --color-fondo: #f8f9fad3;
    --color-texto-principal: #212529;
    --color-blanco: #ffffff;
    --color-gris:#6c757d;
}